{{ $enable_comments := false }}
{{ with .Site.Params.comments }}
{{ $enable_comments = . }}
{{ else }}
{{ with .Params.comments }}
{{ $enable_comments = . }}
{{ else }}
{{ with .Site.Params.Comments }}
{{ $enable_comments = .Enabled }}
{{ end }}
{{ end }}
{{ end }}

{{ if $enable_comments }}
<div class="blog-post-comments">
  {{ with .Site.Params.Comments.Engine }}
  {{ if eq . "disqus" }}
  {{ partial "comments/disqus.html" . }}
  {{ else if eq . "utterances" }}
  {{ partial "comments/utterances.html" . }}
  {{ else if eq . "cactus_comments" }}
  {{ partial "comments/cactus_comments.html" . }}
  {{ end }}
  {{ else }}
  {{ partial "comments/disqus.html" . }}
  {{ end }}
</div>
{{ end }}